<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}</label>
    <input type="checkbox" name="flags.warcraftrpg2e.lowLightVision" data-dtype="Boolean" {{checked object.flags.warcraftrpg2e.lowLightVision}}/>
</div>
<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
    <input type="text" style="flex: 0 30px;" name="flags.warcraftrpg2e.lowLightVisionMultiplier" data-dtype="Number" value="{{object.flags.warcraftrpg2e.lowLightVisionMultiplier}}"/>
</div>
